.container {
    width: 100%;
    padding-left: 20px;
    padding-top: 20px;
}

/* .app-category {
    width: 100%
} */



/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/