<div *ngIf="product != undefined" id="item">
    <div>
        <h3><a href="{{product.url}}">{{ product.name }}</a></h3>
        <img
                [class.img_airpods]="product.category == 'Perfumery'"
                [class.img_iphones]="product.category == 'Skin care'"
                [class.img_macbooks]="product.category == 'Hair care'"
                [class.img_appleWatches]="product.category == 'Make-up'"
                src="{{product.image}}">
    </div>
    <div
            [class.airpods]="product.category == 'Perfumery'"
            [class.iphones]="product.category == 'Skin care'"
            [class.macbooks]="product.category == 'Hair care'"
            [class.appleWatches]="product.category == 'Make-up'" class="characteristics" >
        <p *ngIf="product.description" id="descr">{{ product.description }}</p>
        <p *ngIf="product.rate">Rating: {{ product.rate }}</p>
        <div>
            <p>Likes: {{ product.likes }}</p>
            <button (click)="pressLike()">❤</button>
        </div><br>
        <div class="buttons">
            <button type="button" id="share" (click)="share(product)">
                Share
            </button><br><br>
            <button type="button" id="remove" style = "margin-bottom: 50px;" (click)="remove(product)">
                Remove
            </button>
        </div>
    </div>

</div>
