<div class="about-container">
    <h1>About us</h1>
  
    <div class="about-content">
      <p>
        Here you can learn more about us, our team, mission and values.
      </p>
  
      <p>
        We are a team of professionals, apasionados in our business. We strive to ensure that...
      </p>
  
      <ul class="about-list">
        <li>
          <img src="https://via.placeholder.com/150" alt="Иконка">
          <h3>Our mission</h3>
          <p>
            Our mission - ...
          </p>
        </li>
        <li>
          <img src="https://via.placeholder.com/150" alt="Иконка">
          <h3>Our values</h3>
          <p>
            We appreciate ...
          </p>
        </li>
        <li>
          <img src="https://via.placeholder.com/150" alt="Иконка">
          <h3>Our team</h3>
          <p>
            Our team consists of ...
          </p>
        </li>
      </ul>
    </div>
  
    <button class="contact-us-button">
      <span>Contact us</span>
    </button>
  </div>
  