<div class="home-works-container">
    <h1>Home Page</h1>
  
    <p>Here you will find all the materials you need to complete the tasks.</p>
  
    <ul class="resources-list">
      <li>
        <a href="#">
          <img src="https://via.placeholder.com/150" alt="Ссылка на ресурс">
          <h3>Название ресурса</h3>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="https://via.placeholder.com/150" alt="Ссылка на ресурс">
          <h3>Название ресурса</h3>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="https://via.placeholder.com/150" alt="Ссылка на ресурс">
          <h3>Название ресурса</h3>
        </a>
      </li>
    </ul>
  
    <button class="more-resources-button">
      <span>Еще ресурсы</span>
    </button>
  </div>
  