.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    width: auto;
    height: 100%; /* Занимаем всю высоту экрана */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Равномерно распределить пространство между элементами */
  }
  
  li {
    display: flex;
    justify-content: space-between;
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  p {
    margin: 0;
  }
  
  
  /* Здесь добавляем стили для каждого компонента */
  fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  button {
    padding: 5px 10px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #007bff;
    border: 2px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  button:active {
    background-color: #003d80;
    border-color: #003d80;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  p {
    margin: 0;
  }
  
  